<app-table (newButtonAction)="new()" [(dataTable)]="dataTable" [(queryTerms)]="queryTerms" (searchFunction)="loadGroups()">
    <table class="table" table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th class="width-150">Options</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor='let group of dataTable.content'>
                <td>{{group.id}}</td>
                <td>{{group.name}}</td>
                <td>{{group.status}}</td>
                <td>
                    <button type="button" class="btn btn-link" ngbTooltip="Editar" (click)="edit(group)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-link" ngbTooltip="Inativar" (click)="delete(group)" *ngIf="group.status != 'INACTIVE'"><i class="fa fa-trash-o"></i></button> 
                </td>
            </tr>
        </tbody>
    </table>
</app-table>