<app-table (newButtonAction)="new()" [(dataTable)]="dataTable" [(queryTerms)]="queryTerms" (searchFunction)="loadClients()">
    <table class="table" table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Name</th>
                <th>CPF/CNPJ</th>
                <th>RG/IE</th>
                <th>Grupo</th>
                <th>Phones</th>
                <th>Status</th>
                <th>Options</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor='let client of dataTable.content'>
                <td>{{client.id}}</td>
                <td>{{client.type}}</td>
                <td>{{client.name}}</td>
                <td>{{client.cpg}}</td>
                <td>{{client.identity}}</td>
                <td>{{client.group.name}}</td>
                <td>{{getPhones(client)}}</td>
                <td>{{client.status}}</td>
                <td>
                    <button type="button" class="btn btn-link" ngbTooltip="Editar" (click)="edit(client)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-link" ngbTooltip="Inativar" (click)="delete(client)" *ngIf="client.status != 'INACTIVE'"><i class="fa fa-trash-o"></i></button> 
                </td>
            </tr>
        </tbody>

    </table>
</app-table>