@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./assets/styles/variables";
@import "./assets/styles/table";

body {
    background-color:$content-bg;
}

.content-wrapper {
    padding:30px;
}

.width-80 {
    width:80px;
}

.width-150 {
    width:150px;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
    padding:0;
}

.inline-block {
    display:inline-block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-size-10 {
    font-size: 10px;
}