<div class="form-group">
    <label for="name">Nome</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="client.name" maxlength="80">
</div>
<div class="form-group">
    <label for="type">Tipo</label>
    <select id="type" class="form-control" [(ngModel)]="client.type" [disabled]="isEditing">
        <option value="FISICAL">Física</option>
        <option value="LEGAL">Jurídica</option>
    </select>
</div>
<div class="form-group">
    <label for="cpg">{{client.type == "FISICAL" ? "CPF" : "CNPJ"}}</label>
    <input type="text" class="form-control" id="cpg" [(ngModel)]="client.cpg" maxlength="18" [disabled]="isEditing">
</div>
<div class="form-group">
    <label for="identity">{{client.type == "FISICAL" ? "RG" : "IE"}}</label>
    <input type="text" class="form-control" id="identity" [(ngModel)]="client.identity" maxlength="15">
</div>
<div class="form-group">
    <label for="group">Grupo</label>        
    <select id="group" class="form-control" [(ngModel)]="client.group.id">
        <ng-container *ngFor="let group of groups">                  
            <option [ngValue]="group.id">{{group.name}}</option>
        </ng-container>
    </select>
</div>

<div style='margin-top:30px;'>
    <h4>Telefones</h4>

    <div class="form-group {{col.col11()}} inline-block pr-2">
        <label for="phoneNumber">Número</label>
        <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="phone.phoneNumber" maxlength="13">
    </div>

    <div class="{{col.col1()}} inline-block">
        <button type="button" [disabled]="isSaving" class="btn btn-secondary btn-block" (click)="addPhone()">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Número</th>
                <th class="width-80">Opções</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor='let phone of client.phones'>
                <td>{{phone.phoneNumber}}</td>
                <td>
                    <button class="btn btn-link" ngbTooltip="Excluir" (click)="deletePhone(phone)"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class='mt-5'>
    <button class="btn btn-primary mr-3 width-150"  [disabled]="isSaving" (click)="save()">Salvar</button>
    <button class="btn btn-secondary width-150" [disabled]="isSaving" (click)="cancel()">Cancelar</button>
</div>